{
	"presets": ["es2015-rollup", "stage-3"],
	"plugins": [
		["transform-runtime", {
			"polyfill": true
		}],
		"closure-elimination",
		"tailcall-optimization",
		"external-helpers"
	],
	"comments": false
}
